.article {
  background-color: #121212;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  max-width: 400px;
  padding: 5px
}

.content {
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.body {
  margin: 15px 0;
}

.date {
  border: 1px solid #449ae6;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 0.8em;
}

.author {
  margin-left: -2px;
  font-size: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  color: gray;
  margin: 0;
}

.headline {
  color: white;
  margin: 0;
  font-size: 1.2em;
}