.article {
  background-color: #2b303d !important;
  border-radius: 5px;
  max-width: 400px;
  padding: 25px 35px;

  &:hover {
    cursor: pointer;
    background-color: #363b4a !important;
    transition: background-color ease-in-out 0.1s;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;

  .right {
    display: flex;
    justify-content: flex-end;

    >* {
      margin-left: 10px;
    }
  }
}

.body {
  margin: 20px 0 40px 0;
}

.label {
  color: gray;
  margin: 0;
}

.headline {
  color: white;
  margin: 0;
  font-size: 1.2em;
}