@import "styles/colours";

.wrapper {
  color: $black-ink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.left {
  display: flex;
  justify-content: flex-end;
}

.right {
  display: flex;
  justify-content: flex-start;
}