@import "styles/colours";
@import "styles/mixins";

.desc {
  @include vertical-text;
  color: $black-ink;
  max-height: 100px;
}

.top {
  justify-content: space-between;
}

.chart {
  height: 200px;
}

.Kanji {

}