@import "styles/colours";

.drawer {
  width: 100%;
  max-width: 500px;
}

.paper {
  background-color: transparent !important;
  box-shadow: none !important;
  filter: drop-shadow(0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12));
}

@mixin content {
  clip-path: polygon(var(--path));
  background-color: $newspaper;
  height: 100%;
  color: $black-ink;
}

.content {
  @include content;
  padding: 80px 50px 20px 60px;
}

.contentHome {
  @include content;
  padding: 20px 45px 80px 45px;
}

.help {
  margin: 0;
}
