@import "styles/colours";
@import "styles/mixins";

.wrapper {
  @include corner-borders(50px, 30px, 1px, $black-ink);
  color: $black-ink;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.numbers {
  font-family: 'Chomsky', sans-serif;
}

.next, .last {
  border: 1px solid $black-ink !important;
  padding: 4px 5px !important;

  svg {
    font-size: 1.3em;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 130px;
}