@import "styles/colours";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  background-color: $black-ink;
  clip-path: polygon(var(--path));
  z-index: 5;
  padding-top: 25px;
}

.github {
  color: $newspaper;
  font-size: 1.3em !important;
  margin-right: 5px;
  margin-left: -2px;
}

.helpIcon {
  color: $newspaper;
  font-size: 1.3em !important;
  margin-right: 5px;
  margin-left: -2px;
}

.content {
  width: 100%;
  display: flex;
  flex-grow: 1;
  padding-top: 20px;
  justify-content: center;
  align-items: flex-start;
}

.paragraph {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 30px;

  >p {
    margin: 0 0 5px 0;
    font-weight: bold;
  }
}

.list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.projects {
  color: $newspaper;
}