@import "styles/colours";

.drawer {
  width: 100%;
  max-width: 500px;
}

@mixin content {
  background-color: $newspaper;
  height: 100%;
  color: $black-ink;
}

.content {
  @include content;
  padding: 80px 50px 20px 50px;
}

.contentHome {
  @include content;
  padding: 20px 45px 80px 45px;
}

.help {
  margin: 0;
}
