@import "styles/colours";

.section {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;

  >div {
    margin-bottom: 20px;
  }

  .heading {
    border-bottom: 2px solid $black-ink;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .reset {
      margin-right: -10px;
    }
  }

  .noMargin {
    margin-bottom: 0;
  }

  .desc {
    font-size: 0.8em;
    margin-bottom: 25px;
  }
}

.error {
  .heading {
    color: $error;
    margin-bottom: 0;
  }

  .errorText {
    color: $error;
    font-size: 0.8em;
    margin: 3px 0 5px 0;
  }
}