@import "styles/colours";
@import "styles/animations";

.wrapper {
  max-width: 100%;
  height: 200px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.pieContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  position: relative;
}

.pie {
  width: 180px;
  height: 100%;
}

.inner {
  border: 5px solid rgba($black-ink, 0.9);
  border-radius: 50%;
}

.outer {
  display: flex;
  border: 3px dashed rgba($black-ink, 0.7);
  border-radius: 50%;
  padding: 2px;
}

.body {
  color: $black-ink;
  font-weight: bold;
}