@import "styles/colours";
@import "styles/animations";

.wrapper {
  max-width: 100%;
  height: 200px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.pieContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  position: relative;
}

.pie {
  width: 180px;
  height: 100%;
}

.inner {
  border: 5px solid rgba($black-ink, 0.9);
  border-radius: 50%;
}

.outer {
  display: flex;
  border: 3px dashed rgba($black-ink, 0.7);
  border-radius: 50%;
  padding: 2px;
}

.body {
  color: $black-ink;
  font-weight: bold;
}

.beginner {
  background-color: $beginner-primary;
}

.intermediate {
  background-color: $intermediate-primary;
}

.expert {
  background-color: $expert-primary;
}

.stats {
  color: $black-ink;
  border-top: 3px solid $black-ink;
  border-left: 3px solid $black-ink;
  border-bottom: 3px solid $black-ink;
  width: 100%;
  max-width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: $black-ink;
  padding: 3px;
  position: relative;
  margin-right: -10px;

  .heading {
    height: 20px;
    background-color: $black-ink;
    color: $newspaper;
    font-weight: bold;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }

  .stat {
    display: flex;
    margin-bottom: 5px;
    background-color: $newspaper;
    color: $black-ink;
    font-weight: bold;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;

    .text {
      margin: 6px 0;
    }

    .label {
      padding: 0 5px;
      background-color: $black-ink;
      border: 3px solid $newspaper;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      color: $newspaper;
      min-height: 100%;
      margin: 0 7px 0 0;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .mask {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100%;
    margin-right: -55px;
    border-left: 5px solid $black-ink;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: $newspaper;
  }
}