@import "styles/colours";

.newspaper {
  width: 100%;
  background-color: $newspaper;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.content {
  width: 100%;
  max-width: 1000px;
  align-items: flex-start;
  padding-top: 20px;
  /*border-left: 1px solid $black-ink;
  border-right: 1px solid $black-ink;*/
}

.article {
  padding: 10px;
}

.bordersV {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, $black-ink, rgba(0, 0, 0, 0)) 1 100%;
}

.bordersW {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, $black-ink, rgba(0, 0, 0, 0)) 1 100%;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}