@import "styles/colours";

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  width: 100%;

  .border {
    border-top: 1px solid $black-ink;
    border-bottom: 1px solid $black-ink;
    width: 300px;
  }

  .publisher {
    margin: 0;
    padding: 5px 0;
    color: $black-ink;
  }

  .date {
    * {
      color: $black-ink;

      &:first-child {
        font-weight: bold;
      }
    }
    margin-left: auto;
  }

  .pages {
    color: $black-ink;
  }
}