@import "styles/colours";
@import "styles/viewports";

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px !important;
  margin-top: 20px !important;
  text-align: center;
  width: 100%;

  .publisherContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .date {
    * {
      color: $black-ink;

      &:first-child {
        font-weight: bold;
      }
    }
    margin-left: auto;
  }

  @include phone {
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    .publisherContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .date {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}