$newspaper: #f9f7f1;
$newspaper-secondary: #fffff8;

$white: #ffffff;
$black-ink: #2e2e2e;

$muted: #686767;

$rss: #F99000;

$beginner-primary: #91ea6d;
$beginner-secondary: #3fe83f;
$intermediate-primary: #e8c04a;
$intermediate-secondary: #ec7932;
$expert-primary: #e82c2c;
$expert-secondary: #e12020;