@import "colours";

@mixin vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

@mixin corner-borders($h: 50px, $v: 50px, $thickness: 2px, $color: $black-ink) {
  background:
          linear-gradient(to right, $color $thickness, transparent $thickness) 0 0,
          linear-gradient(to left, $color $thickness, transparent $thickness) 100% 100%,
          linear-gradient(to bottom, $color $thickness, transparent $thickness) 0 0,
          linear-gradient(to top, $color $thickness, transparent $thickness) 100% 100%;

  background-repeat: no-repeat;
  background-size: $h $v;
}

@mixin noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin evenNumericalSpacing {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
