.sourcePage {
  transition: translate 0.6s ease-in-out;

  &--transition {
    transition: translate 0.6s ease-in-out;
  }

  &--move {
    top: 50%;
    left: 50%;
    translate: var(--translate);
  }
}

.targetPage {
  height: 100%;
  width: 100%;
  position: absolute;
  translate: var(--targetTranslate);
  transition: translate 0.6s ease-in-out;

  &--transition {
    transition: translate 0.6s ease-in-out;
  }

  &--move {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}