.header {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.appBar {
   background-color: #1d2531 !important;
}

.logo {
  margin-right: 4px;
  width: 32px;
}

.title {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.subtitle {
  margin-top: 0;
}

.right {
  display: flex;
  align-items: center;

  >* {
    margin-left: 30px;
  }
}