.clock {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  color: white;
}

.time {
  font-size: 1.3em;
  margin: 0;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
}

.date {
  margin-top: -7px;
  font-size: 0.7em;
}