@import "styles/mixins";
@import "styles/colours";

.body {
  @include corner-borders(20%);
  padding: 20px 30px;
  color: $black-ink;
  margin-bottom: 80px;

  .label {
    margin: 0;
    color: $muted;
  }

  .text {
    margin: 5px 0 10px 0;
  }

  .disclaimer {
    display: block;
    text-align: end;
    color: $muted;
    font-size: 0.8em;
  }
}