@import "styles/mixins";
@import "styles/colours";
@import "styles/viewports";

.body {
  @include corner-borders(20%, 50%, 4px);

  padding: 20px 30px;
  color: $black-ink;
  font-weight: bold;

  .label {
    margin: 0;
    color: $muted;
  }

  .text {
    margin: 5px 0 10px 0;
  }

  .link {
    margin: 0;
  }

  .disclaimer {
    display: block;
    text-align: end;
    color: $muted;
    font-size: 0.8em;
  }

  @include phone {
    margin: 0 5px;
    padding: 20px;

    .disclaimer {
      font-size: 0.6em;
      max-width: 50%;
      margin-left: auto;
    }
  }
}