@import "styles/mixins";
@import "styles/colours";
@import "styles/viewports";

.body {
  @include corner-borders(20%, 50%, 4px);

  padding: 20px 30px;
  color: $black-ink;
  font-weight: bold;
  position: relative;

  .label {
    margin: 0;
    color: $muted;
  }

  .text {
    margin: 5px 0 10px 0;
  }

  .link {
    margin: 0;
  }

  .disclaimer {
    display: block;
    text-align: end;
    color: $muted;
    font-size: 0.8em;
  }

  .dottedBottomLeft {
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: 75%;
    height: 25%;
    border-left: 2px dotted rgba($black-ink, 0.8);
    border-bottom: 2px dotted rgba($black-ink, 0.8);

    .dot {
      background-color: $black-ink;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      left: -5px;
      top: -30px;
    }
  }

  .dottedTopRight {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 75%;
    height: 25%;
    border-right: 2px dotted rgba($black-ink, 0.8);
    border-top: 2px dotted rgba($black-ink, 0.8);

    .dotRight {
      background-color: $black-ink;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      right: -5px;
      bottom: -30px;
    }
  }

  @include phone {
    margin: 0 5px;
    padding: 20px;

    .disclaimer {
      font-size: 0.6em;
      max-width: 50%;
      margin-left: auto;
    }
  }
}