.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.date {
  margin: 0;
  font-size: 1em;
  color: white;
}

.distance {
  margin-top: -4px;
  font-size: 0.9em;
  color: #cacaca;
}

.author {
  margin-left: -2px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}