.source {
  display: flex;
  align-content: center;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 0.9em;
  text-transform: uppercase;

  span {
    margin-left: 5px;
  }

  svg {
    font-size: 1.3rem;
  }
}

.default {
  border: 2px solid #1d8ce8;
}

.youtube {
  border: 2px solid #FF0000;
  color: #FF0000;
}