.source {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  border-radius: 25px;
  font-size: 1.2em;
  text-transform: uppercase;

  span {
    margin-left: 5px;
  }

  svg {
    font-size: 1.3rem;
    margin-top: 4px;
  }
}

.youtube {
  border: 2px solid #FF0000;
  color: #ea1111;

  &:hover {
    color: rgba(#ea1111, 0.8);
  }
}