@import "styles/colours";
@import "styles/mixins";

.publisherWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.borderContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 10px;
  margin-bottom: 10px;
}

$effect: -1px -1px 0 $newspaper,
  1px -1px 0 $newspaper,
  -1px 1px 0 $newspaper,
  1px 1px 0 $newspaper,
  2px 2px 0 $black-ink,
  3px 3px 0 $black-ink,
  4px 4px 0 $black-ink,
  5px 5px 0 $black-ink;

@mixin border {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: $black-ink;
  box-shadow: -1px -1px 0 $newspaper,
  1px -1px 0 $newspaper,
  -1px 1px 0 $newspaper,
  1px 1px 0 $newspaper,
  1px 1px 0 $black-ink,
  2px 2px 0 $black-ink,
  3px 3px 0 $black-ink,
  4px 4px 0 $black-ink;
}

.borderTop {
  top: 0;
  @include border;
}

.borderBottom {
  bottom: 0;
  @include border;
}

.title {
  color: $black-ink;
  font-size: 1.2em;
  letter-spacing: 0.2rem;
  font-weight: bold;
  @include noSelect;
}

.publisher {
  margin: 0;
  padding: 20px 0;
  color: $black-ink;
  font-size: 3.6em;
  font-weight: bold;
  text-shadow: $effect;
  text-align: center;
  @include noSelect;
}

/*.publisher {
  margin: 0;
  padding: 5px 0;
  color: $black-ink;
  $backing-color: #414141;
  text-shadow: 1px 1px 1px $muted,
  1px 1px 1px $backing-color,
  1px 2px 1px $backing-color,
  1px 3px 1px $backing-color,
  1px 4px 1px $backing-color,
  1px 5px 1px $backing-color,
  1px 6px 1px $backing-color,
  1px 7px 1px $backing-color,
  1px 8px 1px $backing-color,
  1px 9px 1px $backing-color,
  1px 9px 6px rgba(16,16,16,0.4),
  1px 11px 10px rgba(16,16,16,0.2),
  1px 12px 35px rgba(16,16,16,0.2),
  1px 15px 60px rgba(16,16,16,0.4);
}*/