.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;

  >div {
    display: flex;
    align-items: center;
  }
}

.icon {
  color: #c0c0c0;
  font-size: 2em !important;

  &:hover {
    cursor: pointer;
    color: white;
    transition: color ease-in-out 0.1s;
  }
}

.active {
  color: white;
}