@import "styles/colours";
@import "styles/mixins";
@import "styles/viewports";

@include phone {
  .github {
    font-size: 3.5em !important;
  }

  .circle {
    width: 80px;
    height: 80px;
  }

  .article {
    min-height: 105px;
  }

  .link {
    padding: 0;
  }
}

@include tablet {
  .github {
    font-size: 4em !important;
  }

  .circle {
    width: 80px;
    height: 80px;
  }

  .article {
    min-height: 152px;
  }

  .link {
    padding: 10px 0;
  }
}

@include desktop {
  .github {
    font-size: 5em !important;
  }

  .circle {
    width: 110px;
    height: 110px;
  }

  .article {
    min-height: 160px;
  }

  .link {
    padding: 10px 0;
  }
}

.article {
  background-color: $black-ink;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: -5px 0 0 $black-ink;

  &:hover {
    cursor: pointer;

    .github {
      fill: $newspaper;
      border: 8px dotted $link;
    }

    .circle {
      background-color: $black-ink;
    }
  }
}

.link {
  color: $black-ink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  position: relative;
  background-color: $black-ink;
  border: 4px solid $black-ink;
  height: 92px;
}

.circle {
  position: absolute;
  background-color: $newspaper;
  border-radius: 50%;
  transition: all ease-in-out 0.2s;
}

.github {
  border: 8px dotted $black-ink;
  border-radius: 50%;
  padding: 2px;
  z-index: 10;
  transition: all ease-in-out 0.2s;
}