@import "styles/colours";
@import "styles/mixins";

.article {
  background-color: $black-ink;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 165px;
  width: 100%;
  box-shadow: -5px 0 0 $black-ink;

  &:hover {
    cursor: pointer;

    .github {
      fill: $newspaper;
      border: 8px dotted $link;
    }

    .circle {
      background-color: $black-ink;
    }
  }

}

.link {
  padding: 10px 0;
  color: $black-ink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  position: relative;
  background-color: $black-ink;
  border: 4px solid $black-ink;
  height: 92px;
}

.circle {
  position: absolute;
  width: 110px;
  height: 110px;
  background-color: $newspaper;
  border-radius: 50%;
  transition: all ease-in-out 0.2s;
}

.github {
  border: 8px dotted $black-ink;
  border-radius: 50%;
  padding: 2px;
  font-size: 5em !important;
  z-index: 10;
  transition: all ease-in-out 0.2s;
}