@import "styles/colours";
@import "styles/mixins";

.article {
  @include corner-borders(30%, 50%, 3px);
  padding: 25px;
  color: $black-ink;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.github {
  border: 8px solid $black-ink;
  border-radius: 50%;
  padding: 2px;
  font-size: 5em !important;
}