@import "styles/colours";
@import "styles/animations";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100px;
}

.lineOuter {
  content: '';
  border: 4px solid $black-ink;
  border-radius: 10px;
  height: 70%;
  width: 100%;
  position: absolute;
  top: 15%;
  left: 0;
  padding: 5px;
  box-sizing: border-box
}

.lineInner {
  border: 4px solid $black-ink;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  top: 5px;
  box-sizing: border-box
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.text {
  flex-grow: 1;
  color: $black-ink;
  font-weight: bold;
  text-align: center;
  width: 33%;
}

.icon {
  color: $newspaper;
  background-color: $black-ink;
  font-size: 5em !important;
  animation-name: spin-clockwise;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 4px solid $black-ink;
  border-radius: 50%;
  transition: all ease-in-out 0.2s !important;

  &:hover {
    cursor: pointer;
    color: $link;
    background-color: $newspaper;
  }
}