.loading {
  width: 100%;
}

.floating {
  position: absolute;
  top: 50%;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  filter: blur(3px);
}

.text {
  font-size: 1.5em;
}