@import "styles/colours";

.footer {
  display: flex !important;
  justify-content: center;
  background-color: $black-ink;
  padding: 1em 2em;
  width: 100%;
  min-width: 100%;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  z-index: 3000;

  >*:not(:last-child) {
    margin-right: 15px;
  }

  .github {
    color: $newspaper;
    font-size: 1.7em;
  }

  .rss {
    color: $rss;
    font-size: 1.9em;
  }

  >a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}