@import "styles/colours";

.wrapper {
  display: flex;
  color: $black-ink;
}

.body {
  border-top: 3px solid $black-ink;
  border-bottom: 3px solid $black-ink;
  border-right: 3px solid $black-ink;
  padding: 5px 20px;
  font-weight: bold;
}