@import "styles/colours";

.wrapper {
  display: flex;
  color: $black-ink;
  height: 278px;
}

.body {
  border-top: 4px solid $black-ink;
  border-bottom: 4px solid $black-ink;
  border-right: 4px solid $black-ink;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px 20px;
  font-weight: bold;
  position: relative;

  .bottomTextContainer {
    border: 2px solid $black-ink;
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 10;
    font-size: 0.9em;
    font-weight: 500;

    .chevron {
      font-size: 3em;
      margin: 0 -3px;
      color: rgba($black-ink, 0.85)
    }

    >p {
      margin: 0;
    }
  }

  .text {
    position: relative;
    z-index: 10;
  }

  $size: 70px;

  @mixin cornerStyle {
    position: absolute;
    background-color: $black-ink;
    width: $size;
    height: $size;
    z-index: 1;
  }

  @mixin mask {
    width: $size;
    height: $size;
    z-index: 1;
    background-color: $newspaper;
  }

  .topLeft {
    @include cornerStyle;
    left: 0;
    top: 0;

    .mask {
      @include mask;
      border-top-left-radius: 50%;
    }
  }

  .bottomRight {
    @include cornerStyle;
    right: 0;
    bottom: 0;

    .mask {
      @include mask;
      border-bottom-right-radius: 50%;
    }
  }
}