@import "styles/colours";
@import "styles/mixins";

.wrapper {
  width: 160px;
  height: 264px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.outer {
  height: 100%;
  border: 3px solid $black-ink;
  display: flex;
  justify-content: center;
}

.inner {
  @include vertical-text;
  color: $black-ink;
  border-left: 3px solid $black-ink;
  border-right: 3px solid $black-ink;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.main {
  font-size: 4em;
  margin: 0;
}

.left, .right {
  @include vertical-text;
  color: $black-ink;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  >p {
    margin: 0;
    width: 100%;
  }
}

.ankiLogo {
  width: 20px;
  margin-right: 5px;
}

.button {
  background-color: $black-ink;
  border-radius: 0;
  color: $newspaper;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0;
  border-right: 3px solid $black-ink;
  border-left: 3px solid $black-ink;
  border-bottom: 3px solid $black-ink;

  >p {
    margin: 0;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    background-color: $newspaper;
    color: $black-ink;
    transition: all ease-in-out 0.2s;
    border-color: $black-ink;
  }

  &:focus {
    outline: none;
  }
}
