@import "styles/colours";

.wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $newspaper;
  overflow-y: auto;
  overflow-x: hidden;
}

.homeFooter {
}