@import "styles/colours";

.wrapper {
  border-right: 3px solid $black-ink;
  display: flex;
  align-items: flex-start;
}

.text {
  color: $black-ink;
  font-size: 5em;
  margin: -30px 0 0 0;
  font-weight: bold;
}