@import "styles/colours";
@import "styles/viewports";

@mixin circle($size: 20px) {
  .circle {
    position: relative;
    height: $size;
    width: $size;
    border-radius: 50%;
    background: $live-color;
    margin-right: 10px;

    &:before {
      content: "";
      border: 7px solid rgba(227, 98, 98, 0.68);
      border-radius: 50%;
      height: $size;
      width: $size;
      position: absolute;
      left: -7px;
      bottom: -7px;
      animation: pulsate 2s ease-out;
      animation-iteration-count: infinite;
      opacity: 0.0;
      z-index: 99;
    }
  }
}

@include phone {
  .left {
    height: 384px;
  }

  .text {
    font-size: 2.5em;
    margin: 0;
  }

  .wrapper {
    align-items: center;
  }

  .liveContainer {
    font-size: 0.8em;
    margin-bottom: 12px;
  }

  @include circle(15px)
}

@include tablet {
  .left {
    height: 534px;
  }

  .text {
    font-size: 5em;
    margin: -30px 0 -30px 0;
  }

  .wrapper {
    align-items: flex-start;
  }

  .liveContainer {
    font-size: 1.1em;
    margin-bottom: 20px;
  }

  @include circle(20px)
}

@include desktop {
  .left {
    height: 534px;
  }

  .text {
    font-size: 5em;
    margin: -30px 0 -30px 0;
  }

  .wrapper {
    align-items: flex-start;
  }

  .liveContainer {
    font-size: 1.1em;
    margin-bottom: 20px;
  }

  @include circle(20px)
}

.wrapper {
  border-right: 5px solid $black-ink;
  display: flex;
  flex-direction: column;
  position: relative;
}

.text {
  color: $black-ink;
  font-weight: bold;
}

.left {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: -5px 0 0 $black-ink;
  border-bottom: 3px solid $black-ink;
}

.top {
  width: 85%;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 5px solid $black-ink;
}

.liveContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  width: 100%;
}

.live {
  color: $live-color;
  margin: 0;
}

@keyframes pulsate {
  0% {transform: scale(0.6, 0.6); opacity: 0.0;}
  50% {opacity: 0.8;}
  100% {transform: scale(1, 1); opacity: 0.0;}
}