@import "styles/colours";

.badge {
  border: 2px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
}

.beginner {
  color: $beginner-primary;
  border-color: $beginner-secondary;
}

.intermediate {
  color: $intermediate-primary;
  border-color: $intermediate-secondary;
}

.expert {
  color: $expert-primary;
  border-color: $expert-secondary;
}