name: Deploy Nyuusu
run-name: deploy-nyuusu
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
        env:
          VITE_NEWS_API_KEY: ${{ secrets.VITE_NEWS_API_KEY }}
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist